#root {
  min-height: 100vh; /* ضمان ملء الشاشة بالكامل */
  background-color: #1F2937;
  color: #d4d5dc;
  display: grid;
  grid-template-columns: 10px 1fr; /* الشريط الجانبي (250px) والمحتوى الرئيسي */
  grid-template-rows: auto; /* صف واحد */
  margin: 0 !important;
  overflow: hidden;
}

.sideBar {
  position: fixed; /* تثبيت الشريط الجانبي */
  top: 0;
  left: 0;
  height: 100vh; /* تغطية الطول بالكامل */
  width: 10px; /* عرض الشريط الجانبي */
  background-color: #1F2937;
  z-index: 1000; /* ظهور فوق العناصر الأخرى */
}

.main {
  margin-left: 10px; /* تعويض عرض الشريط الجانبي */
  padding: 20px;
  background-color: #1A202C;
  overflow-y: auto; /* تمرير داخلي */
  height: 100vh; /* ملء الشاشة */
}

@media (max-width: 800px) {
  #root {
    grid-template-columns: 1fr; /* تحويل إلى عمود واحد */
    grid-template-rows: auto;
  }

  .sideBar {
    position: fixed; /* تثبيت الشريط الجانبي */
    top: 0;
    bottom: 0;
    left: 0;
    height: 60px; /* شريط جانبي سفلي */
    width: 100%; /* عرض كامل للشاشة */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .main {
    margin-left: 0; /* إزالة التعويض */
    margin-bottom: 60px; /* تعويض ارتفاع الشريط الجانبي */
  }
}
