.section {
    margin: 6px;
    padding: 20px;
    border-radius: 6px;
    background-color: #1A202C; 
  }
  
  .active {
    display: block;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
  }
  
  .card {
    justify-content: space-between;
    padding: 20px;
    border-radius: 6px;
    background-color: #1F2937; 
  }
  
  .card-name,
  .number {
    font-size: 0.83rem;
    color: white; 
    font-weight: 500;
  }
  
  .charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
  }
  
  .chart {
    border-radius: 6px;
    background-color: #1F2937;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 100%;
    box-sizing: border-box;
  }
  .chart:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / -1;  
    justify-self: center; 
  }
  
  
  .card-name {
    text-align: center;
    font-size: 0.83rem;
    color: white; 
    font-weight: 500;
  }
  
  #map-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 6px;
    border-radius: 6px;
    background-color: #1F2937; 
    
  }
  
  #map-container #map {
    width: 100%;
    position: relative;
    z-index: 0;
    height: 200px;
    border: white 3px solid;
    border-radius: 8px;
  }
  
  @media (max-width: 800px) {
    .cards {
      grid-template-columns:1fr 1fr !important;
    }
    .charts {
      grid-template-columns: 1fr;
    }
    #map-container #map {
      height: 200px;
    }
  }
  
  @media (max-width: 500px) {
    .cards {
      grid-template-columns: 1fr !important;
    }
  }
  