.div-style {
    margin: 6px;
    border-radius: 6px;
    background-color: #1F2937;
  }
  body {
    background-color: #1A202C;
  }
  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  main #Overview {
    width: calc(100%-260px);
    min-height: 100%;
  }
  main #Overview h1 {
    display: flex;
    justify-content: space-between;
  }
  main #Overview .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  main #Overview .cards .card {
    justify-content: space-between;
    padding: 20px;
  }
  main #Overview .cards .card .card-name,
  main #Overview .cards .card .number {
    font-size: 0.83;
    color: white;
    font-weight: 500;
  }
  main #Overview .charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
  }
  @media (max-width: 800px) {
    main #Overview .charts {
      grid-template-columns: 1fr;
    }
  }
  main #Overview .charts .chart {
    border-radius: 6px;
    background-color: #1F2937;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    box-sizing: border-box;
  }
  main #Overview .charts .chart .card-name {
    text-align: center;
    font-size: 0.83rem;
    color: white;
    font-weight: 500;
  }
  main #Overview .charts .chart:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
  }
  @media (max-width: 800px) {
    #Overview {
      width: 100%;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;
    }
    .charts {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 500px) {
    .cards {
      display: grid;
      grid-template-columns: 1fr !important;
    }
  }
  #map-container {
    padding: 10px;
    display: flex ;
    justify-content: center;
    margin: 6px;
    border-radius: 6px;
    background-color: #1F2937;
  }
  #map-container #map {
    width: 100%;
    height: 200px;
    border: white 3px solid;
    border-radius: 8px;
  }
  @media (max-width: 800px) {
    #map-container #map {
      height: 200px;
    }
  }
  @media (min-width: 781px) {
    #map-container #map {
      height: 300px;
    }
  }
  #total-villages {
    margin: 6px;
    border-radius: 6px;
    background-color: #1F2937;
  }
  #total-urban {
    margin: 6px;
    border-radius: 6px;
    background-color: #1F2937;
  }
  #population {
    margin: 6px;
    border-radius: 6px;
    background-color: #1F2937;
  }
  #area {
    margin: 6px;
    border-radius: 6px;
    background-color: #1F2937;
  }
  #age-distribution {
    margin: 6px;
    border-radius: 6px;
    background-color: #1F2937;
  }
  #gender-ratios {
    margin: 6px;
    border-radius: 6px;
    background-color: #1F2937;
  }
  #population-chart {
    margin: 6px;
    border-radius: 6px;
    background-color: #1F2937;
  }